$primary-color: #079ddf;
$secondary-color: #067eb2;
$terciary-color: #1cb5f8;

$grey-100: #e1e2e3;
$grey-200: #b8babd;
$grey-300: #919498;
$grey-400: #6d6f73;
$gray-500: #4b4d4f;
$grey-600: #2c2d2e;
$grey-700: #101112;
